body {
  background: rgb(213,181,255);
  background: linear-gradient(290deg, rgba(213,181,255,0.7049413515406162) 13%, rgba(182,240,247,0.7581626400560224) 100%);
  font-family: "Gill Sans", sans-serif;
}

.hero-description {
  line-height: 73px;
}

.collection {
  background-image: url('./images/site1.png');
  /* image from https://picsum.photos/, random photos are genereted each time */
  padding-top: calc(4.5 / 4 * 100%);
  /* portrait aspect ratio */
  background-size: cover;
  background-position: center;
}
@media (min-width: 768px) {
  .collection {
    padding-top: calc(2 / 3.5 * 100%);
    /* change to landscape aspect ratio on md breakpoint and up */
  }
}
.inner {
  /* overlay the inner <div> exactly on top of its parent */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
