body {
  background: rgb(213,181,255);
  background: linear-gradient(290deg, rgba(213,181,255,0.7049413515406162) 13%, rgba(182,240,247,0.7581626400560224) 100%);
  font-family: "Gill Sans", sans-serif;
}

.hero-description {
  line-height: 40px;

  @media (min-width: 768px) {
    line-height: 73px;
  }
}

.collection {
  background-image: url('./images/site1.png');
  /* image from https://picsum.photos/, random photos are genereted each time */
  padding-top: calc(4.5 / 4 * 100%);
  /* portrait aspect ratio */
  background-size: cover;
  background-position: center;
}
@media (min-width: 768px) {
  .collection {
    padding-top: calc(2 / 3.5 * 100%);
    /* change to landscape aspect ratio on md breakpoint and up */
  }
}
.inner {
  /* overlay the inner <div> exactly on top of its parent */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.circles{
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles i{
  position: absolute;
  display: block;
  list-style: none;
  color:#FFF;
  font-size:1rem;
  animation: animate 25s linear infinite;
  bottom: -150px;
  
}

.circles i:nth-child(1){
  left: 25%;
  font-size:1.6rem;
  animation-delay: 0s;
}


.circles i:nth-child(2){
  left: 10%;
  font-size:0.9rem;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles i:nth-child(3){
  left: 70%;
  font-size:1.1rem;
  animation-delay: 4s;
}

.circles i:nth-child(4){
  left: 40%;
  font-size:1.3rem;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles i:nth-child(5){
  left: 65%;
  font-size:1rem;
  animation-delay: 0s;
}

.circles i:nth-child(6){
  left: 75%;
  font-size:1.7rem;
  animation-delay: 3s;
}

.circles i:nth-child(7){
  left: 35%;
  font-size:1.9rem;
  animation-delay: 7s;
}

.circles i:nth-child(8){
  left: 50%;
  font-size:0.8rem;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles i:nth-child(9){
  left: 20%;
  font-size:0.6rem;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles i:nth-child(10){
  left: 85%;
  font-size:1.4rem;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}

.github_btn {
  background-color: transparent;
  border: solid 1px #222;
  border-radius: 25px;
}

.github_btn:hover {
  color: #6389ca;
  border-color: #6389ca;
}

h4 {
  font-weight: 300;
}

p {
  font-weight: 200;
}

a:hover img {
  width: 99%;
}

a:hover .fa-brands {
  color: #6389ca !important;
}

em {
  text-decoration: underline wavy #6389ca 1px;
}

em:hover {
  color:black;
  font-weight: 350;
}

.nav-link {
  font-size: 16px;

  @media (min-width: 768px) {
    font-size: 22px;
  }
}

.footer_link {
  color: #222;
}

.dropdown-menu {
  background-color: #fff;

  @media (min-width: 1200px) {
    background-color: transparent;
  }

}